.news {
    padding: 64px 75px;

    .news-heading {
        margin-left: 75px;
    }

    .block-news {
        background-image: url('../static/news-bg.png');
        background-size: 700px;
        background-position: -20px -20px;
        padding-left: 490px;
        height: 500px;
    
        .block__content {
            background-image: url('../static/news-1.png');
            background-size: 750px;
            background-position: -20px 10px;
            padding: 100px 0 0 110px;
            position: relative;
    
            .block__text {
                position: absolute;
                width: 540px;
                height: 241px;
                top: 110px;
                left: 150px;
            }

            .block__details-btn {
                width: 136px;
                margin: 220px 170px;
            }
        }
    }

    .service-content {
        display: flex;
        padding-left: 50px;
        margin-bottom: 70px;
    
        &__col1,
        &__col2 {
            flex: 0 0 540px;
            position: relative;

            &:hover {
                &:before {
                    content: "";
                    background-image: url('../static/new-more.png');
                    background-repeat: no-repeat;
                    background-size: 650px 400px;
                    width: 650px;
                    height: 400px;
                    position: absolute;
                    top: -60px;
                    left: -60px;
                    z-index: -1;
                }

                .details-btn {
                    opacity: 1;
                }
            }
        }

        &__col1 {
            padding-left: 25px;
            margin-right: 60px;
        }
    
        &__col2 {
            &:hover {
                &:before {
                    content: ""; 
                    left: -80px;
                }
            }
        }

        &__details {
            display: flex;
            justify-content: center;
            
            .details-btn {
                width: 220px;
                padding-top: 28px;
                opacity: 0;
            }
        }
    }
}

.business {
    padding: 64px 75px;

    .business-heading {
        margin-left: 75px;
    }

    .block-business {
        background-image: url('../static/meetings-bg.png');
        background-size: 750px;
        background-position: -30px 10px;
        padding-left: 455px;
        height: 500px;
    
        .block__content {
            background-image: url('../static/meetings-1.png');
            background-size: 750px;
            background-position: 0 20px;
            padding: 100px 0 0 110px;
            position: relative;
    
            .block__text {
                position: absolute;
                width: 540px;
                height: 241px;
                top: 130px;
                left: 150px;
            }

            .block__details-btn {
                width: 136px;
                margin: 30px 140px;
            }
        }
    }

    .service-content {
        &__col1 {
            &_meeting-1 {
                background-image: url('../static/meeting-img-2.png');
                background-size: 500px;
                background-position: 50px -12px;
                background-repeat: no-repeat;
                height: 800px;
            }

            &_meeting-2 {
                background-image: url('../static/meeting-bg.png');
                background-size: 500px;
                background-position: 50px -12px;
                background-repeat: no-repeat;
                height: 750px;
            }
        }

        &__col2 {
            &_meeting {
                position: relative;
                background-image: url('../static/meeting-img.png');
                background-size: 550px;
                background-position: -22px -12px;
                background-repeat: no-repeat;
                height: 550px;
    
                &::after {
                    content: '';
                    position: absolute;
                    background-image: url('../static/meeting-title.png');
                    background-size: 550px;
                    background-position: -11px -12px;
                    background-repeat: no-repeat;
                    top: 520px;
                    left: -10px;
                    width: 550px;
                    height: 75px;
                }
            }
        }
    }
}

.laws {
    padding: 64px 75px;

    .title {
        margin-left: 75px;
    }

    .service-content {
        &__row {
            margin-left: 75px;
        }
    }
}

.consultation {
    background-image: url('../static/contacts_bg.png');
    background-repeat: no-repeat;
    background-size: 100%;

    &__bg {
        background-image: url('../static/contacts_map.png');
        background-size: 900px;
        background-position: 35px 30px;

        &_contacts {
            position: relative;
            padding: 50px 0 0 50px;
            top: 42px;
            left: 120px;
            width: 540px;
            height: 350px;
            background-image: url('../static/contacts_address.png');
            background-repeat: no-repeat;
            background-size: 540px;
        }

        &_marker {
            position: relative;
            padding: 15px 0 0 100px;
            background-image: url('../static/contacts_mark.png');
            background-repeat: no-repeat;
            background-size: 370px;
            height: 130px;
            width: 370px;
            top: 85px;
            left: 220px;
        }
    }

    .close-btn {
        background-image: url('../static/contacts_close-icon.png');
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: 75% 50%;
        position: absolute;
        left: 380px;
        top: 10px;
        width: 200px;
        height: 100px;
        border-radius: 50px;

        &:hover {
            background-color: #fff;
            background-image: url('../static/close_icon_hovered.png');

            &:before {
                content: 'Закрыть';
                font-weight: bold;
                position: relative;
                color: #476397;
                top: 40%;
                left: 25%;
            }
        }
    }

    &-form {
        height: 750px;
        width: 600px;
        background-image: url('../static/contacts_form.png');
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: 0 20px;
        padding: 77px 0 0 110px;
      
        &__body {
            width: 360px;
        }
    }

    .service-content {
        &__col1 {
            flex: 0 0 700px;
        }
    }
}

.back-btn {
    margin-left: 40px;
    margin-bottom: 10px;
    position: relative;

    &:after {
       content: "";
       position: absolute;
       background-image: url('../static/news-back.png');
       background-repeat: no-repeat;
       background-size: 30px 12px;
       width: 30px;
       height: 12px;
       top: 12px;
       left: 0;
    }

    &:hover {
        &::after {
            background-image: url('../static/news-back-hovered.png');
        }
    }
}

.loadmore {
    display: flex;
    padding-left: 510px;
    height: 46px;

    &__btn {
        border: 2px solid #476397;
        border-radius: 23px;
        line-height: 46px;
        font-size: 18px;
        color: #476397;
        flex: 0 0 208px;
    }
}